.navbarCustom {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);

    padding: 1.25rem 2rem;

    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    min-height: 60px; 
    z-index: 999999 !important;

    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.navbarBrand{
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.titleHighlight {
    color: salmon;
}

.linkText {
    position: relative;
    /* display: inline-block; */
    font-size: 1.2rem;
    font-weight: normal;
    color: black;
}

.linkText:hover {
    color: salmon;
    transition: color .3s ease;
}

.linkText::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: salmon;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease;
}

.navbarLinks :global(.nav-link:hover) .linkText::after {
    transform: scaleX(1);
}
