
.skillsHeading {
  opacity: 0;
  transform: scale(0.9);
  display: inline-block;
  position: relative; /* REQUIRED for ::after */
  margin-top: 50px;
}

.skillsHeading.show {
  animation: zoomIn 0.6s ease-out forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* underline */
.skillsHeading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: salmon;
  transform: translateX(-50%);
}

.skillsHeading.show::after {
  animation: lineGrow 1s ease forwards;
}

@keyframes lineGrow {
  to {
    width: 10%;
  }
}

.iconImage {
  width: 80px;
  height: 80px;
  opacity: 0;
  transform: scale(1) rotate(-180deg);
  transition: transform 0.25s ease;
  will-change: transform;
}

.iconImage.show {
  animation: popRotate 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes popRotate {
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.iconImage.show:hover {
  transform: scale(1.15) rotate(0deg);
  cursor: pointer;
}
