* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectsHeading {
  opacity: 0;
  transform: scale(0.9);
  display: inline-block;
  position: relative; /* REQUIRED for ::after */
  margin-top: 50px;
}

.projectsHeading.show {
  animation: zoomIn 0.6s ease-out forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* underline */
.projectsHeading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: salmon;
  transform: translateX(-50%);
}

.projectsHeading.show::after {
  animation: lineGrow 1s ease forwards;
}

@keyframes lineGrow {
  to {
    width: 10%;
  }
}

.projectCard {
  opacity: 0;
  transform: translateY(40px);
  /* border: salmon 1px solid; */
  box-shadow: 0 4px 8px rgba(215, 212, 212, 0.5);
  transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease;
  will-change: transform;
}

.projectCard:hover {
  transform: translateY(-5px) scale(1.15);
  box-shadow: 0 12px 24px rgba(250, 128, 114, 0.35);
  cursor: pointer;
}

.projectCard.show {
  animation: cardFadeUp 1.2s ease-out forwards;
}

@keyframes cardFadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .cardTitle {
  font-weight: bold;
  color: salmon !important;
  text-shadow: 0 4px 8px rgba(250, 128, 114, 0.5); 
  display: inline-block;
} */

.cardText {
  opacity: 0.8;
  line-height: 1.5;
  font-size: 1.2rem;
}

.highlight {
  /* color: salmon; */
  font-weight: 600;
}

.githubButton {
    color: salmon;
    border: 2px solid salmon;
    font-weight: 600;
    background-color: transparent;
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;   
    animation: fadeInUp 3000ms ease-out;
}

.githubButton:hover {
    background-color: salmon;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid salmon;
}

.techIcons svg {
  font-size: 1.8rem;
  margin-right: 10px;
  color: salmon;
}

